.main {
  padding: 20px;
  margin: 0;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
  box-sizing: border-box;
}
.header {
  margin: 30px 0;
  line-height: 100px;
}
.label {
  margin-bottom: 0;
  line-height: 40px;
}
p.tab {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.dollar::before {
  content: '$';
}
.secondColumn {
  width: 30%;
  text-align: right;
}
.rightText {
  text-align: right;
}
.boldText {
  font-weight: bold;
}
.btnYes {
  width: calc(50% - 40px);
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 5px;
  line-height: 60px;
  border-radius: 4px;
  font-size: 1.4rem;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
}
.btnNo {
  width: calc(50% - 40px);
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 35px;
  line-height: 60px;
  border-radius: 4px;
  font-size: 1.4rem;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgb(221, 248, 248);
}
.rightBorderBox {
  border-right: 1px solid rgb(175, 173, 173);
}
.card {
  margin-top: 20px;
  line-height: 60px;
}
.card p {
  margin-bottom: 0;
  line-height: 80px;
  text-indent: 20px;
  font-size: 1.4rem;
}
.dottedLine {
  border-top: dashed 1px;
}
.dottedLabel {
  line-height: 32px;
  flex-shrink: 1;
}
.btnNext {
  background-color: rgb(118, 200, 228);
  color: white;
  padding: 10px 30px;
}
.btnNext:hover {
  background-color: rgb(101, 183, 211);
  color: white;
  vertical-align: middle;
}
.btnNext:focus {
  background-color: rgb(101, 183, 211);
  color: white;
  border: none;
}
.percentBadge {
  font-weight: bold;
  font-size: 2rem;
}
.verticalAlign {
  vertical-align: middle;
}
.verticalAlignBottom {
  vertical-align: bottom;
}
p.detailInfo {
  margin-bottom: 0;
}
.lendText {
  color: aqua;
  font-weight: bold;
}
.wesText {
  color: rgb(92, 81, 243);
  font-weight: bold;
}
.weslend {
  margin-bottom: 0;
}
.circleInterestMark {
  background-color: #ffe553;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;;
}
.circlePrincipalMark {
  background-color: #4949d0;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;;
}
.circleInsuranceMark {
  background-color: #4d94ff;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;;
}
.circlePMIMark {
  background-color: #ff66ff;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;;
}
.circleHOAMark {
  background-color: #5cd65c;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;;
}
.circleTaxMark {
  background-color: #66ff99;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;;
}
.totalFee {
  position: absolute;
  left: calc(50% - 0);
  top: calc(50% - 2rem);
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
}
.relativeDiv {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}
.secondColumn .boldText {
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 40px;
}
.Operator {
  font-size: 1.6rem;
  line-height: 30px;
  vertical-align: middle;
  height: 40px;
  float: right;
}

.cashText {
  font-size: 1.1rem !important;
  line-height: 1.4rem !important;
  margin-bottom: 20px !important;
  text-indent: 0 !important;
  padding: 0 20px;
  word-wrap: break-word;
}
.cashLabel {
  font-size: 1.2rem !important;
  font-weight: bold;
  line-height: 2rem !important;
  text-indent: 0 !important;
}
.marginBottom20 {
  margin-bottom: 20px !important;
}
.paddingLeftRight20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.marginLeftRight20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
  width: calc(100% - 40px) !important;
}
.flexDiv {
  display: flex;
}
.w100 {
  width: 50%;
  margin-left: auto;
}
.form-control {
  line-height: 40px !important;
}
.cash {
  color: cadetblue !important;
}
.separateSpace {
  line-height: 20px !important;
  height: 10px !important;
}